<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= simple_form_for :search, url: root_path, method: "GET", html: { autocomplete: "off" } do |f| %>
        <%= f.input_field :query,  placeholder: "Search cocktail", html: { class: "search" } %>
      <% end %>
    </div>

    <div id="logo"><%= link_to 'Marseo Lounge', root_path %></div>
    <div id="add-button"><%= link_to 'Add Cocktail', new_cocktail_path %></div>


<!--/.Navbar-->

    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>


